---
import { getCollection } from "astro:content";
import Card from "../../../components/Card.astro";
import Footer from "../../../components/Footer.astro";
import Header from "../../../components/Header.astro";
import Layout from "../../../layouts/Layout.astro";
export async function getStaticPaths() {
	const allBlogPosts = await getCollection("blog");
	const uniqueTags = [
		...new Set(allBlogPosts.flatMap((post) => post.data.tag)),
	];
	return uniqueTags.map((tag) => ({
		params: { slug: tag },
		props: { tag },
	}));
}
const { tag } = Astro.props;
const posts = await getCollection("blog", ({ data }) => data.tag.includes(tag));
const meta = `<title>Posts tagged with ${tag}</title>`;
---
<Layout meta={meta}>
	<Header />
	<main>
		<h1>Posts tagged with {tag}</h1>
		<ul>
			{posts.map((post) => (
			<li><Card title={post.data.title} slug={post.id} date={post.data.updatedAt ?? post.data.publishedAt} base="/blog" tags={post.data.tag} /></li>
			))}
		</ul>
	</main>
	<Footer />
