---
import { getCollection, render } from "astro:content";
import Header from "../../components/Header.astro";
import Layout from "../../layouts/Layout.astro";
export async function getStaticPaths() {
	const allBlogPosts = await getCollection("philosophy");
	return allBlogPosts.map((post) => ({
		params: { slug: post.id },
		props: { post },
	}));
}
const { post } = Astro.props;
const meta = `<title>${post.data.title}</title>`;
const { Content } = await render(post);
const DatetoString = (stdate) => {
	const date = new Date(stdate);
	return `${date.getFullYear()}年${date.getMonth() + 1}月${date.getDate()}日`;
};
import tocbot from "tocbot";
---
<Layout meta={meta}>
	<Header/>
	<main>
		<h1 class="text-center text-2xl md:text-4xl font-bold">{post.data.title}</h1>
		<div class="text-sm flex mx-auto justify-center">
			<div class="mx-2">
				<span class="block me-2 px-2.5 py-0.5 rounded-full text-white bg-primary">Published</span>
				<span class="block">{DatetoString(post.data.publishedAt)}</span>
			</div>
			{post.data.updatedAt && (
			<div class="mx-2">
        		<span class="block me-2 px-2.5 py-0.5 rounded-full text-white bg-primary">Updated</span>
        		<span class="block">{DatetoString(post.data.updatedAt)}</span>
    			</div>
				)}
			<div class="mx-2">
				{post.data.tag.map((tag) => (
				<a href={"/philosophy/tags/"+tag} class="text-blue-haze-400 me-2 px-2.5 py-0.5 rounded-full">#{tag}</a>
				))}
			</div>
		</div>
		<div class="flex flex-col lg:flex-row-reverse w-full">
				<div class="js-toc w-full lg:w-1/4"></div>
				<article id="main-content" class="prose w-full lg:w-3/4 js-toc-content">
				<Content />
				</article>
		</div>
<script>
	import * as tocbot from 'tocbot'
	tocbot.init({
  // Where to render the table of contents.
  tocSelector: '.js-toc',
  // Where to grab the headings to build the table of contents.
  contentSelector: '.js-toc-content',
  // Which headings to grab inside of the contentSelector element.
  headingSelector: 'h1, h2, h3',
  // For headings inside relative or absolute positioned containers within content.
  hasInnerContainers: true,
	});
</script>
</Layout>
